.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.content {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
